.menu-footer{
    display: flex;
    font-family: sans-serif;
}

.copyright{
    font-family: sans-serif;
    text-align: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

li{
    margin-right: 30px;
    list-style: none;
}