.image-product{
    width: clamp(100px, 140px, 160px);
}

.product-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 15%;
    margin-left: 15%;
    gap: 80px;
    justify-content: space-evenly;
}

.individual-product{
    width: 140px;
    text-align: center;
    gap: 20px;
}

.product-price{
    font-family: teko;
    color: #960404;
}

.product-title{
    font-family: teko;
    color:black;
  
}

.button-category{
background-color: #960404 ;
border-radius: 0;
color: white;
font-family: teko;
font-size: 20px;
width: 200px;
}

.category{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.sort-by-title{
    font-family: teko;
    font-size: 20px;
    margin-right: 15px;
}